@model EFood.Modelos.ViewModels.ProductoVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="text-prim">Lista de Productos</h2>
        </div>
    </div>

    <br />

    <form id="frmFiltrar" method="get" action="@Url.Action("Consultar", "Producto")">
        <select asp-for="LineaComidaSeleccionadaId" id="lineaComidaSelect" name="idLineaComida" onchange="filtrarPorLineaComida()" asp-items="@Model.LineaComidaLista" class="form-select">
            <option disabled selected>-- Filtrar Por Linea de Comida --</option>
        </select>
        <span asp-validation-for="LineaComidaSeleccionadaId" class="text-danger"></span>
        <button type="button" class="btn btn-secondary m-2" onclick="limpiarFiltro()">Limpiar Filtro</button>
    </form>


    <div class="p-4 border rounded bg-light table-responsive">
        <table id="tblDatos" class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre Producto</th>
                    <th>Linea de Comida</th>
                    <th>Precio Inicial</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var producto in Model.Productos)
                {
                    <tr class="bg-light">
                        <td>@producto.Id</td>
                        <td>@producto.Nombre</td>
                        <td>@producto.LineaComida.Nombre</td>
                        <td>@producto.Monto</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<br />

@section Scripts {
    <script src="~/js/productoconsulta.js"></script>
}
