@using EFood.Utilidades
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EFood</title>
    <link rel="shortcut icon" href="~/imagenes//icono.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EFoodCommerce.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/select2-bootstrap-5-theme/select2-bootstrap-5-theme.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body onload="loading()">
    <header class="main-header" id="main-header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-2">
            <div class="container-fluid">
                <div id="mySidebar" class="sidebar">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                    <a asp-area="" asp-controller="Home" asp-action="Ayuda">Centro de Ayuda</a>
                </div>

                <div id="main1" class="container1" onclick="sidebar(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
                <img src="@Url.Content("~/imagenes/logo2.png")" style="width:85px;height:70px;">
                <a class="navbar-brand justify-content-lg-start" asp-area="" asp-controller="Home" asp-action="Index">EFood-Commerce</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                    <a id="carrito" asp-area="Commerce" asp-controller="CarritoCompra" asp-action="Index"><span id="badge" class="badge">@TempData[DS.Contador]</span><img src="@Url.Content("~/imagenes/carrito.png")" style="width:65px;height:60px;"></a>
                </div>
            </div>
        </nav>
    </header>
    <div id="loader"></div>
    <div style="display:block;" id="myDiv" class="animate-bottom hidden">
        <main role="main" class="pb-3" id="main2">
            <partial name="_Notificaciones" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - EFood - <a asp-area="" asp-controller="Home" asp-action="Ayuda">Centro de Ayuda</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script>
        /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
        function sidebar(x) {
            if (document.getElementById("mySidebar").style.width == "250px") {
                document.getElementById("mySidebar").style.width = "0";
                document.getElementById("main1").style.marginLeft = "0";
				x.classList.toggle("change");
				return;
			}
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main1").style.marginLeft = "250px";
            x.classList.toggle("change");
        }
    </script>

    <script>
        /*  */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.classList.contains("show")) {
                    dropdownContent.style.maxHeight = null;
                    dropdownContent.classList.remove("show");
                } else {
                    dropdownContent.classList.add("show");
                    dropdownContent.style.maxHeight = dropdownContent.scrollHeight + "px";
                }
            });
        }
    </script>
    <script>
        // When the user scrolls the page, execute myFunction
        window.onscroll = function () { anclar() };

        var header = document.getElementById("main-header");
        var main = document.getElementById("main2");
        var sticky = header.offsetTop;

        function anclar() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
                main.classList.add("main-sticky");
            } else {
                header.classList.remove("sticky");
                main.classList.remove("main-sticky");
            }
        }
    </script>

    <script>
        var myVar;

        function contarItems() {
            var contador = HttpContext.Session.GetString("ContadorCarrito");
            return contador;
        }

        function loading() {
            myVar = setTimeout(showPage, 500);
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("myDiv").classList.remove('hidden');
            document.getElementById("myDiv").classList.add('visible');
        }
    </script>

    <script type="text/javascript">

        document.addEventListener("DOMContentLoaded", function () {
            return fetch('/api/carrito/contador')
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>