@model EFood.Modelos.Producto
@using EFood.Utilidades

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="coupon">
                <div class="container2" style="background-color:#2A2C41; color:orange; border-radius:15px 15px 0 0;">
                    <h3>@Model.Nombre</h3>
                </div>
                <img src="@Url.Content(EFood.Utilidades.DS.ImagenRuta + Model.UbicacionImagen)" alt="Avatar" style="width:100%;background-color:white;">
                <div class="container2" style="background-color:aliceblue">
                    <h2><b>Contenido</b></h2>
                    <p>@Model.Contenido</p>
                </div>
                <div class="container2" style="background-color:aliceblue; border-radius:0 0 13px 13px;">
                    <p>Precio Unitario Normal: <span class="promo">₡ @Model.Monto</span></p>
                    <p class="expire">Disponible</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2 style="color:coral">Producto: @Model.Nombre</h2>

            <div>
                <h4 style="color:#2A2C41">Precios:</h4>
                @if (Model.TipoPrecios != null && Model.TipoPrecios.Any())
                {
                    <div class="col-lg-6">
                        @foreach (var precio in Model.TipoPrecios)
                        {
                            <div>
                                <input type="radio" name="precio" value="@precio.Id" id="precio_@precio.Id" />
                                <label for="precio_@precio.Id" style="font-size: 17px">@precio.Descripcion - @precio.Monto</label>
                            </div>
                        }
                    </div>
                }
            </div>

            <br />

            <div class="form-group col-lg-6">
                <h4 style="color:#2A2C41">Cantidad:</h4>
                <input type="number" id="cantidad" class="form-control" min="1" value="1"/>
            </div>

            <form id="carritoForm" method="get" asp-action="Agregar">
                <input type="hidden" id="productoId" name="productoId" value="@Model.Id" />
                <input type="hidden" id="cantidadInput" name="cantidad" value="1" />
                <input type="hidden" id="precioSeleccionado" name="tipoPrecioId" value="0" />
                <a href="javascript:void(0);" onclick="agregarCarrito()" class="btn btn-primary mt-3">Agregar</a>
            </form>
        </div>
    </div>
</div>
<br />
<br />
<br />

@section Scripts {

    <script>
        function agregarCarrito() {
            var cantidad = document.getElementById("cantidad").value;
            var precioSeleccionado = document.querySelector('input[name="precio"]:checked').value;
            document.getElementById("cantidadInput").value = cantidad;
            document.getElementById("precioSeleccionado").value = precioSeleccionado;

            document.getElementById("carritoForm").submit();
        }
    </script>
}
