@using Newtonsoft.Json
@using EFood.Modelos
@model EFood.Modelos.ViewModels.ComprasVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var carritoCompraJson = JsonConvert.SerializeObject(Model.CarritoCompra);
    var clienteJson = JsonConvert.SerializeObject(Model.Cliente);
    var tiqueteDescuentoJson = JsonConvert.SerializeObject(Model.TiqueteDescuento);
    var tipoProcesadorPago = JsonConvert.SerializeObject(Model.TipoProcesadorPago);
    var procesadorPago = JsonConvert.SerializeObject(Model.TipoProcesadorPago);
    var pedidoJson = JsonConvert.SerializeObject(Model.Pedido);
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="text-prim">Confirmación del Pedido</h2>
        </div>
    </div>

    <br />

    <div class="p-4 border rounded bg-light">
        <form asp-action="MetodoPago" method="post" enctype="multipart/form-data">
            <div class="row border-0">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>

            <input type="hidden" name="CarritoCompraJson" value="@carritoCompraJson" />
            <input type="hidden" name="ClienteJson" value="@clienteJson" />
            <input type="hidden" name="TiqueteDescuentoJson" value="@tiqueteDescuentoJson" />
            <input type="hidden" name="hiddenTipoProcesadorPago" value="@tipoProcesadorPago" />
            <input type="hidden" name="ProcesadorPagoJson" value="@procesadorPago" />
            <input type="hidden" name="PedidoJson" value="@pedidoJson" />
            <input type="hidden" id="estadoPedido" name="EstadoPedidoHidden" value="@Model.Pedido.Estado" />

            <div class="row" style="background-color: #2A2C41;color:orange;">
                <label>
                    Confirmación del Pedido
                </label>
            </div>
            <div class="row">
                <h4>@Model.Cliente.Nombre @Model.Cliente.Apellidos</h4>
            </div>
            <div class="row">
                <p>
                    A continuación el detalle de la información de envío y forma de pago
                </p>
            </div>
            <br />

            <div class="row" style="background-color: #2A2C41; color:orange;">
                <label>
                    Información de Envío
                </label>
            </div>

            <div class="row">
                <p>
                    Dirección: @Model.Cliente.DireccionEnvio
                </p>
            </div>

            <div class="row">
                <p>
                    Teléfono: @Model.Cliente.Telefono
                </p>
            </div>

            <br />

            <div class="row" style="background-color: #2A2C41;color:orange;">
                <label>
                    Forma de Pago
                </label>
            </div>
            @if (Model.TarjetaPago != null)
            {
                <div class="row">
                    <div class="col-lg-6">
                        <p>
                            Medio: @Model.TipoProcesadorPago
                        </p>
                    </div>

                    <div class="col-lg-6 text-right">
                        <p>
                            Tipo: @Model.TarjetaPago.TipoTarjeta
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <p>
                            Número de Tarjeta: @Model.TarjetaPago.NumeroTarjetaFormateado
                        </p>
                    </div>
                </div>
            }
            else if (Model.ChequePago != null)
            {
                <div class="row">
                    <div class="col-lg-6 text-right">
                        <p>
                            Número Cheque: @Model.ChequePago.NumeroCheque
                        </p>
                    </div>

                    <div class="col-lg-6">
                        <p>
                            Cuenta: @Model.ChequePago.Cuenta
                        </p>
                    </div>
                </div>
            }
            else if (Model.ChequePago == null && Model.TarjetaPago == null)
            {
                <div class="row">
                    <div class="col-lg-6 text-right">
                        <p>
                            Tipo de Pago: @Model.TipoProcesadorPago
                        </p>
                    </div>
                </div>
            }
            <br />

            <div class="row">
                <div class="col-md-12">
                    @if (Model.TiqueteDescuento != null)
                    {
                        <a>Total: @(Model.CarritoCompra.ObtenerPrecio() - (Model.CarritoCompra.ObtenerPrecio() * Model.TiqueteDescuento.Descuento / 100))</a>
                    }
                    else
                    {
                        <a>Total: @(Model.CarritoCompra.ObtenerPrecio())</a>
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <button type="button" id="cancelar" class="btn btn-primary text-white" style="cursor:pointer" onclick="cancelarPedido()">
                        <i class="bi bi-arrow-left-circle-fill"></i> Cancelar Pedido
                    </button>
                </div>
                <div class="col-lg-6 text-end">
                    <button type="submit" class="btn btn-primary" onfocus="false">
                        <i class="bi bi-plus-square-fill"></i> Realizar Pedido
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<br />
<br />
<br />

<script>
    function cancelarPedido() {
        // Cambiar el valor del campo oculto a 2 (cancelado)
        document.getElementById("estadoPedido").value = 1;
        // Enviar el formulario
        document.querySelector("form").submit();
    }
</script>
