@model EFood.Modelos.ViewModels.ComprasVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="text-prim">Información del Cliente</h2>
            </div>
        </div>

        <br />

        <div class="p-4 border rounded bg-light">
            <form method="post" enctype="multipart/form-data">
                <div class="row border-0">
                    <div asp-asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>

                <input type="hidden" asp-for="CarritoCompra" id="carritocompra" />
                <input type="hidden" asp-for="Cliente" id="cliente" />

                <div class="row mb-2 mt-2">
                    <div class="row mb-2 mt-2">
                        <div class="form-group col-md-6">
                            <label>Tipo de Procesador</label>
                            <select asp-for="Tipo" class="form-control">
                                <option value="">Seleccione un tipo</option>
                                @foreach (var tipo in Enum.GetValues(typeof(EFood.Modelos.TipoProcesadorPago)))
                                {
                                    <option value="@tipo">@tipo</option>
                                }
                            </select>
                            <span asp-validation-for="Tipo" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <a>
                        Subtotal: @Model.CarritoCompra.ObtenerPrecio()
                    </a>
                    <a>
                        Descuento: @(Model.TiqueteDescuento.Descuento * Model.CarritoCompra.ObtenerPrecio() / 100)
                    </a>
                    <a>
                        Total: @(Model.CarritoCompra.ObtenerPrecio() - (Model.CarritoCompra.ObtenerPrecio() * Model.TiqueteDescuento.Descuento / 100))
                    </a>
                </div>

                <br />

                <div class="row">
                    <div class="col-lg-6">
                        <a href="/Commerce/CarritoCompra/Index/" class="btn btn-primary text-white" style="cursor:pointer">
                            <i class="bi bi-arrow-left"></i> Regresar
                        </a>
                    </div>
                    <div class="col-lg-6 text-right">
                        <button type="submit" class="btn btn-primary" onfocus="false"><i class="bi bi-plus-square-fill"></i> Siguiente </button>
                </div>
            </form>
        </div>
    </div>
