@using Newtonsoft.Json
@model EFood.Modelos.ViewModels.ComprasVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var carritoCompraJson = JsonConvert.SerializeObject(Model.CarritoCompra);
    var clienteJson = JsonConvert.SerializeObject(Model.Cliente);
    var tiqueteDescuentoJson = JsonConvert.SerializeObject(Model.TiqueteDescuento);
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="text-prim">Método de Pago</h2>
        </div>
    </div>

    <br />

    <div class="p-4 border rounded bg-light">
        <form asp-action="MetodoPago" method="post" enctype="multipart/form-data">
            <div class="row border-0">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>

            <input type="hidden" name="CarritoCompraJson" value="@carritoCompraJson" />
            <input type="hidden" name="ClienteJson" value="@clienteJson" />
            <input type="hidden" name="TiqueteDescuentoJson" value="@tiqueteDescuentoJson" />
            <input type="hidden" id="hiddenTipoProcesadorPago" name="hiddenTipoProcesadorPago" value="@Model.TipoProcesadorPago" />

            <div class="row mb-2 mt-2">
                <div class="form-group col-md-6">
                    <label asp-for="TipoProcesadorPago">Método de Pago</label>
                    <select asp-for="TipoProcesadorPago" class="form-control" onchange="updateHiddenTipoProcesadorPago()" name="TipoProcesadorPago">
                        <option value="">Seleccione un método</option>
                        @foreach (var tipo in Enum.GetValues(typeof(EFood.Modelos.TipoProcesadorPago)))
                        {
                            <option value="@tipo">@tipo</option>
                        }
                    </select>
                    <span asp-validation-for="TipoProcesadorPago" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    @if (Model.TiqueteDescuento != null)
                    {
                        <a>Subtotal: @Model.CarritoCompra.ObtenerPrecio()</a>
                        <a>Descuento: @(Model.TiqueteDescuento.Descuento * Model.CarritoCompra.ObtenerPrecio() / 100)</a>
                        <a>Total: @(Model.CarritoCompra.ObtenerPrecio() - (Model.CarritoCompra.ObtenerPrecio() * Model.TiqueteDescuento.Descuento / 100))</a>
                    }
                    else
                    {
                        <a>Subtotal: @Model.CarritoCompra.ObtenerPrecio()</a>
                        <a>Descuento: 0,00</a>
                        <a>Total: @(Model.CarritoCompra.ObtenerPrecio())</a>
                    }
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-lg-6">
                    <a href="/Commerce/CarritoCompra/Index/" class="btn btn-primary text-white" style="cursor:pointer">
                        <i class="bi bi-arrow-left"></i> Regresar
                    </a>
                </div>
                <div class="col-lg-6 text-right">
                    <button type="submit" class="btn btn-primary" onfocus="false">
                        <i class="bi bi-plus-square-fill"></i> Siguiente
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function updateHiddenTipoProcesadorPago() {
            var selectedValue = document.querySelector("select[name='TipoProcesadorPago']").value;
            document.getElementById("hiddenTipoProcesadorPago").value = selectedValue;
        }
    </script>
}
