@model EFood.Modelos.ViewModels.ProductoVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="text-prim">Lista de Productos</h2>
        </div>
    </div>

    <br />

    <form id="frmFiltrar" method="get" action="@Url.Action("Consultar", "Producto")">
        <div class="form-group">
            <select id="lineaComidaSelect" name="idLineaComida" class="form-select" onchange="filtrarPorLineaComida()">
                <option disabled selected>Seleccionar línea de comida</option>
                @foreach (var lineaComida in Model.LineaComidaLista)
                {
                    <option value="@lineaComida.Value" @(lineaComida.Value == Model.LineaComidaSeleccionadaId.ToString() ? "selected" : "")>
                        @lineaComida.Text
                    </option>
                }
            </select>
        </div>
        <button type="button" class="btn btn-secondary m-2" onclick="limpiarFiltro()">Limpiar Filtro</button>
    </form>

    <div class="p-4 border rounded bg-light table-responsive">
        <table id="tblDatos" class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre Producto</th>
                    <th>Linea de Comida</th>
                    <th>Precio Inicial</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var producto in Model.Productos)
                {
                    <tr class="bg-light">
                        <td><a href="@Url.Action("Detalle", "Producto", new { id = producto.Id })">@producto.Id</a></td>
                        <td>@producto.Nombre</td>
                        <td>@producto.LineaComida.Nombre</td>
                        <td>@producto.Monto</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<br />

<br />

@section Scripts {
    <script src="~/js/productoconsulta.js"></script>
}
